* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  font-size: 25px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  padding: 17px;
  display: flex;
  justify-content: space-between;
}
.header-menu {
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  top: 0;
  left: 0;
  position: absolute;
}
.header-menu ::after {
  position: absolute;
  display: block;
  background-color: black;
  width: 1000px;
  height: 1000px;
}
.header-menu-title {
  margin-bottom: 47px;
  margin-top: 17px;
}
.header-more {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 1000px;
  padding-top: 40px;
}
.header-more a {
  display: list-item;
  list-style: none;
  margin: 0 0 16px 40px;
  padding: 16px 0;
}
.header-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 416px;
  background-image: linear-gradient(to right, #01FE9C, #5591F1);
}
.header-menu-userinf {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 47px;
}
.header-menu-userinf :first-child {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}
.header-more {
  display: flex;
  flex-direction: column;
}
.header-logo-icon :not(:first-child) {
  margin-left: 20px;
}
.header-logo-icon .fa-cloud-sun {
  font-size: 32px;
  margin-left: 50px;
}
.header-logo-icon .fa-bars {
  cursor: pointer;
  z-index: 100;
  position: absolute;
}
.header-mode {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.header-mode :not(:first-child) {
  margin-left: 20px;
}
.header-mode input {
  scale: 1.3;
}

.container {
  background-image: linear-gradient(#61A5FC, #5EE7DF);
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 68px;
}
.container .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 10px 68px 0 68px;
  border-radius: 15px;
  overflow: hidden;
}
.container .content-left {
  background-color: white;
}
.container .content-left h1 {
  margin: 64px auto;
}
.container .content-right {
  background-color: #9591A6;
  color: white;
}
.container .content-right h1 {
  margin: 16px auto 0px auto;
}
.container .content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .content-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}
.container .content-search input {
  width: 492px;
  padding: 24px;
  font-size: 18px;
  box-shadow: 0 0 10px 10px rgb(221, 218, 218);
  outline: none;
  border: none;
  border-radius: 30px;
}
.container .content-search button {
  height: 80px;
  width: 80px;
  font-size: 18px;
  border-radius: 50%;
  border: none;
  transform: translateX(-98%);
  background-color: #31FEAE;
  cursor: pointer;
}
.container .content-inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .content-sun {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: #ffde17;
  margin-bottom: 36px;
  margin-top: 10px;
}
.container .content-temp {
  font-size: 80px;
  color: white;
}
.container .content-city {
  margin-bottom: 33px;
}
.container .content-city :first-child {
  font-size: 32px;
}
.container .content-city :last-child {
  font-size: 17px;
  margin-left: 12px;
}
.container .content-clear {
  letter-spacing: 8px;
  font-size: 17px;
  margin-bottom: 33px;
}
.container .content-follow {
  font-size: 13px;
  padding: 20px 32px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  margin-bottom: 40px;
  cursor: pointer;
}
.container .content-follow:hover {
  background-color: #b1acc7;
}

.line {
  width: 52px;
  height: 2px;
  background-color: white;
  position: relative;
  margin: 16px auto;
}

/*# sourceMappingURL=style.css.map */
